ul li {
  padding: 16px 0; }

ul {
  list-style-position: outside !important; }

/*
// nightmare
.spectacle-slide {
  min-height: 100% !important;
}
*/
pre {
  border: 4px solid white;
  border-radius: 8px; }

img.react-logo {
  -webkit-animation: logo-spin infinite 20s linear;
  animation: logo-spin infinite 20s linear;
  width: 100px;
  height: 100px;
  margin: 0; }

img.redux-logo {
  -webkit-animation: logo-spin infinite 20s linear;
  animation: logo-spin infinite 20s linear;
  width: 100px;
  height: 100px;
  margin: 0; }

img.logo-bg {
  -webkit-animation: logo-spin infinite 60s linear;
  animation: logo-spin infinite 60s linear;
  width: 150vh;
  height: 150vh;
  margin: 0;
  opacity: .25;
  position: absolute;
  max-width: initial;
  max-height: initial;
  top: -40%;
  left: 50%; }

img.react-logo + h1,
img.redux-logo + h1 {
  margin-left: 50px; }

img.planet {
  filter: brightness(0.3);
  -webkit-animation: travel-spin infinite 90s linear;
  animation: travel-spin infinite 90s linear;
  position: absolute;
  max-width: initial;
  max-height: initial;
  width: auto;
  height: 200vh;
  top: -80vh;
  right: -117vh; }

img.androbot {
  -webkit-animation: bounce 5s infinite linear;
  animation: bounce 5s infinite linear;
  position: absolute;
  max-width: initial;
  max-height: initial;
  width: 40vh;
  height: 40vh;
  top: 30vh;
  right: 55vw; }

@keyframes bounce {
  0%, 5%, 12.5%, 20%, 25% {
    transform: translateY(0); }
  10% {
    transform: translateY(-30px); }
  15% {
    transform: translateY(-20px); } }
@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes travel-spin {
  0% {
    transform: rotate(3.8deg); }
  50% {
    transform: rotate(-5.2deg); }
  100% {
    transform: rotate(3.8deg); }
  from,to {
    transform-origin: center 400%; } }
@media (min-width: 1000px) {
  .screens {
    margin-top: -20vh !important; } }
.screens img {
  height: 70vh; }

/*
// not working really
pre {
  background: rgba(255,255,255,0.1) !important;
  color: deepskyblue !important;
  span.token {
    &.property {
      color: red !important;
    }
    &.punctuation {
      color: orange !important;
    }
    &.string {
      color: lime !important;
    }
    &.selector {
      color: deeppink !important;
    }
  }
}*/
